.access{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: $margin-top-xbig;

    &__title{
        @include title-container;
        
        &__sub{
            @include sub-title;
        }
        &_paragraph{
            @include paragraph;            
        }   
}
}