//BIG SCREEN
@media (min-width:1401)and(max-width:2500px) {
    .header {
        &__title {
            font-size: 4rem;
            margin-top: $margin-top-xbig;
        }

        &__note {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: $margin-top-big;
        }

        &__btn {
            margin-top: $margin-top-xbig;

            &__green,
            &__blue {
                font-size: 1.5rem;
                padding: 1rem 2rem;
            }
        }
    }

    .info {
        margin-top: 9rem;

        &__title {
            &__sub {
                font-size: 3rem;
            }

            &__paragraph {
                font-size: 1.7rem;
                line-height: 2.5rem;
            }
        }

        &__plus {
            justify-content: center;
            padding-left: 8rem;
            margin-top: $margin-top-big;

            &__right {
                width: 50%;
                justify-content: space-evenly;
            }
        }
    }

    .info-item {
        width: 70%;

        &__sub {
            font-size: 2rem;
        }

        &__text {
            font-size: 1.5rem;
        }
    }

    .access {
        margin-top: 9rem;

        &__title {
            &__sub {
                font-size: 3rem;
            }

            &_paragraph {
                font-size: 1.7rem;
                line-height: 2.5rem;
            }
        }
    }

    .tools {
        margin-top: 9rem;

        &__title {
            &_sub {
                font-size: 3rem;
            }

            &_paragraph {
                font-size: 1.7rem;
                line-height: 2.5rem;
            }
        }

        &__list {
            &-container {
                &-sub {
                    font-size: 2rem;
                }

                &-p {
                    font-size: 1.5rem;
                }
            }
        }

        &__pages {
            margin-top: 9rem;
        }
    }

    .download {
        margin-top: 9rem;

        &__title {
            &_sub {
                font-size: 3rem;
            }

            &_paragraph {
                font-size: 1.7rem;
                line-height: 2.5rem;
            }
        }

        &__btn {
            margin-top: $margin-top-big;

            &__green,
            &__blue {
                font-size: 1.5rem;
                padding: 1rem 2rem;
            }
        }
    }

    .footer {
        &__container {
            height: 10rem;

            &-logo {
                width: 70px;
            }

            &-opt {
                font-size: 1.5rem;
                letter-spacing: 1px;
            }
        }
    }

    .svg-social {
        width: 50px;
    }
}

//TABLE LAND-CAPE
@media (max-width: 1024px) {
    .info {
        &__plus {
            &__right {
                width: 60%;
            }
        }

        &__title__paragraph {
            width: 60%;
        }
    }

    .info-item {
        width: 70%;
    }

    .access__title_paragraph {
        width: 60%;
    }

    .tools {
        &__list {
            margin-left: 5rem;
            margin-right: 5rem;
            align-items: flex-start;
        }
    }
}

//MOBILE
@media (max-width:768px){
    .header {
        background-image: url(/images/bg-header-mobile.png);
        height: 40rem;

        &__logo {
            padding-top: 15rem;
        }

        &__title {
            text-align: center;
            font-size: 2.5rem;
        }

        &__note {
            width: 80%;
            font-size: 1.3rem;
        }

        &__btn {
            margin-bottom: $margin-bottom-small;

            &__green,
            &__blue {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: $margin-bottom-small;
                font-size: 1.3rem;
                padding: 1rem 2.5rem;
            }
        }
    }

    .info {
        margin-top: 15rem;

        &__title__sub {
            font-size: 2rem;
        }

        &__title__paragraph {
            font-size: 1.2rem;
            width: 80%;
        }

        &__plus {
            flex-direction: column;

            &__right {
                width: 90%;
                text-align: center;
                align-items: center;

            }
        }
        .info-item {
            padding-top: 3rem;
        }
    }

    .access__title_paragraph {
        width: 80%;
    }

    .tools {
        &__list {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-container {
                padding-bottom: 2rem;
            }
        }

        &__pages {
            flex-direction: column;

            &-logo {
                padding-bottom: 2.5rem;
            }
        }
    }

    .download {
        &__title_paragraph {
            width: 80%;
        }
        &__btn {
            margin-bottom: $margin-bottom-big;
            display: flex;
            flex-direction: column;        
            &__green,
            &__blue {
                font-size: 1.3rem;
                padding: 1rem 2.5rem;
                margin-bottom: $margin-bottom-small;                                
            }
        }
    }
    .footer__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

        &-logo {
            margin-top: 1rem;
        }

        &-opt {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 1rem;
        }
    }

    .footer_container-opt-link:link,
    .footer_container-opt-link:visited,
    .footer_container-opt-link:active {
        padding-top: 1rem;
        padding-right: 0;
    }

    .svg-social {
        margin: 1rem;
    }
}